.vscode/**
.vscode-test/**
.gitignore
.DS_Store
*.vsix
*.log
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/jsconfig.json
**/*.map
**/.eslintrc.json

# Source files
src/**
out/test/**

# Test files
**/test/**

# Config files
*.config.js
*.config.json
.eslintrc.json
